{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'people/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="test">
        <div class="head">
            <p><a href="{% url 'our_way'%}">О нас</a></p>
            <p><a href="{% url 'contacts'%}">Контакты</a></p>
            <p><a href="{% url 'index' %}">Главная страница</a></p>
            <p><a href="{% url 'addpost' %}">FAQ</a></p>
        </div>
    </header>

{% block contetn %}{% endblock contetn %}

<footer class="foot">
    <div>Сайи работает на основе лицензии ХХХХХХХХХХх</div>
</footer>
</body>
</html>